.App {
  text-align: center;
  font-family: 'Patrick Hand', sans-serif;
  min-width: 400px;
  max-width: 100vw;
}

.optionscontainer {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  overflow-x: hidden;
}