.App {
  text-align: center;
  font-family: 'Patrick Hand', sans-serif;
  min-width: 400px;
  max-width: 100vw;
}

.optionscontainer {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  overflow-x: hidden;
}

.disappear {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: transparent;
  opacity: 50%;
}